<div class="icon-help"></div>
<h3 class="contribute-header">Add to this map</h3>
<p class="contribute-header">Single click and drag any of the following icons on to the map to add a...</p>
<!-- draggable icons will be added dynamically here -->