<div class="icon-help"></div>
<div class="error"></div>
<h3>Take a photo at your current location</h3>
<input id="mobile-photos" type="file" name="mobile-photos" multiple="multiple" accept="image/*" capture="camera" />
<div class="drop-files"><div class="info">Take a photo</div></div>
<h4>Categorize as</h4>
<div class="type-selections"></div>
<button>Save</button>
