<h3>Your account</h3>
<p>You are logged in as {{ username }}.  More account info and actions coming here soon.</p>
<p><a href="javascript:window.traildock.map.drawers.account.logout();">Log out</a></p>