<h3>Log in</h3>
<div class="error"></div>
<div>Username or email</div>
<div><input id="traildock-username" type="text" name="username" /></div>
<div>Password</div>
<div><input id="traildock-password" type="password" name="password" /></div>
<div><button onclick="window.traildock.map.drawers.account.login();">Log in</button></div>
<div><a href="https://www.traildock.com/signup" target="_blank">or sign up for an account</a>
<p>A Traildock account is required to create Traildock content like submitting reports or uploading images. The map remains open to all for just viewing.</p>
