#traildock-map {
  font-family: "Helvetica Neue", Arial, Helvetica, sans;
  font-size: 12px;
  box-sizing: border-box;
  background: #ddd;
  .error {
    color: red;
  }
  &.disabled {
    position: relative;
    line-height: 100%;
    padding: 3em;
    opacity: 0.5;
    font-size: 1rem;
    * {
      font-size: 1.6rem !important;
    }
    > div {
      font-size: 1.6rem !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 85%;
      height: 10%;
      margin: auto;
    }
  }
  * {
    font-size: 12px;
    color: #000;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    line-height: normal;
  }
  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 150%;
  }
  h2 {
    font-size: 140%;
  }
  h3 {
    font-size: 120%;
  }
  h4 {
    font-size: 100%;
  }
  p {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
  }
  a {
    color: $traildock_red;
    text-decoration: none;
  }
  &.loaded {
    background: #ddd;
  }
  input {
    margin: 0;
  }
  input[type=text], input[type=password], textarea {
    font-family: "Helvetica Neue", Arial, Helvetica, sans;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 8px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  input[type=radio] {
    display: inline;
    width: auto;
  }
  button {
    background-color: $traildock_red;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0 0;
    border: none;
    padding: 5px 7px;
    cursor: pointer;
    &:hover {
      background-color: darken($traildock_red, 10);
    }
  }
  .loading {
    position: absolute;
    opacity: 0.5;
    background: #ddd $spinner center no-repeat;
    display: none;
  }
  .drawer-buttons, .drawer {
    cursor: default;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transition: 0.5s;
  }
  .drawer-buttons {
    width: 3em;
    right: -2.5em;
    background-color: rgba(255, 255, 255, 0.7);
    border-left: 1px solid #ddd;
    text-align: center;
    a {
      font-size: 2.5em;
      color: #fff;
      text-decoration: none;
      display: block;
      margin: 0.3em 0;
      height: 1em;
      line-height: 1em;
    }
  }
  .drawer {
    background-color: rgba(255, 255, 255, 0.8);
    border-left: 1px solid #ddd;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px 15px;
    &.open {
      right: 3em !important;
    }
    &.account {
      h3 {
        margin-bottom: 0;
      }
      .error {
        min-height: 1.5em;
      }
    }
    &.contribute {
      @media screen and (max-width: 500px) {
        width: 100px !important;
        .contribute-header {
          display: none;
        }
        padding: 10px 0;
        p.loggedout {
          margin: 0;
          padding: 0 5px;
        }
        .icon {
          float: none;
          width: 100%;
        }
      }
    }
    h4 {
      margin: 10px 0;
    }
    p {
      margin: 10px 0;
    }
    div {
      margin: 0;
      padding: 0;
      line-height: 1.4em;
    }
    input[type=text], input[type=password], textarea {
      width: 90%;
    }
    &.photo {
      .drop-files {
        height: 80px;
        cursor: pointer;
        margin-top: 0.5em;
        background-color: #333;
        border-color: darken(#fff, 20);
        .info {
          color: #fff;
          opacity: 1;
        }
      }
      input {
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
      }
      .type-selections {
        img {
          height: 50px;
          width: auto;
          cursor: pointer;
          box-sizing: border-box;
          border-radius: 5px;
          &.selected {
            border: 2px solid darken(#F0E98B, 10);
            background: #F0E98B;
          }
        }
        .help {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background: #333;
          color: darken(#fff, 10);
          padding: 5px;
        }
      }
      button {
        width: 80%;
        margin: 5px 10% 0;
        font-size: 140%;
      }
    }
  }
  .icon {
    float: left;
    width: 50%;
    user-select: none;
    &.report {
      color: #FFEE00;
    }
    &.trailhead {
      color: $traildock_red;
    }
    &.trail_sign {
      color: #3465BA;
    }
    &.in-drawer {
      text-align: center;
      margin: 0;
      img {
        cursor: grab;
        width: 50px;
        height: 50px;
      }
    }
  }
  .leaflet-popup {
    min-width: 20em;
  }
  .drop-files {
    position: relative;
    z-index: 999;
    box-sizing: border-box;
    height: 50px;
    padding: 0;
    margin: 0.5em 0;
    border: 2px dashed #999;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    &.hover {
      background-color: #BEDBEB;
      border: 2px dashed darken(#BEDBEB, 20);
    }
    .info {
      text-align: center;
      padding: 0;
      margin: auto;
      position: absolute;
      width: 100%;
      height: 1em;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.3;
      font-size: 90%;
      white-space: nowrap;
      line-height: 100%;
    }
    img {
      height: 90%;
      margin: 2px 4px;
      width: auto;
      background: #fff;
    }
    span {
      display: inline-block;
      height: 100%;
      position: relative;
    }
    .material-icons {
      font-size: 14px;
      border-radius: 7px;
      position: absolute;
      top: 0;
      right: 0;
      color: $traildock_red;
      background: #fff;
    }
  }
  .popup-content {
    .header {
      text-align: center;
      max-height: 30px;
      padding-right: 1em;
      img {
        height: 30px;
        width: auto;
      }
      span {
        display: inline-block;
        padding: 0;
        margin: 0;
        max-height: 30px;
        line-height: 30px;
        &:last-child {
          font-weight: bolder;
          font-size: 130%;
          vertical-align: top;
        }
      }
    }
    label {
      display: block;
      margin: 0.3em 0;
    }
    .error {
      text-align: center;
      min-height: 1.2em;
    }
  }
  .popup-view {
    position: relative;
    .view-icon {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
    h3, h4, p {
      width: 95%;
    }
    h3 {
      position: relative;
      margin-bottom: 0;
      padding-bottom: 0;
      span {
        position: absolute;
        top: 7px;
      }
    }
    h4 {
      margin-top: 0;
      padding-top: 0;
    }
    img {
      max-width: 70px;
      margin: 0 2px;
      height: auto;
    }
    p {
      padding: 0;
      margin: 0.25em 0;
    }
    .timestamp {
      color: #999;
      font-size: 80%;
      text-align: right;
      margin: 0.5em 0;
    }
  }
  .edit-menu {
    font-size: 95%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    border-radius: 10px;
    background: #fff;
    padding: 1em;
    ul {
      margin: 0 30px 0 0;
      padding: 0;
      text-align: right;
      li {
        list-style: none;
      }
    }
    &.open {
      display: block;
      opacity: 0;
      animation: fadeIn .3s ease-in 1 forwards;
    }
    a {
      &:hover {
        color: darken($traildock_red, 10);
      }
    }
  }
  .edit-menu-trigger {
    width: 20px;
    height: 20px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    right: 15px;
    top: 10px;
    opacity: 0.7;
    transition: 0.5s;
    &:hover {
      opacity: 1;
    }
  }
  .legend-image {
    margin: 1em;
    width: auto;
    height: 80%;
    background-image: url(https://cdn.traildock.com/images/traildock-legend.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .leaflet-control-zoom {
    a {
      font-size: 20px;
    }
  }
  .draggable-icon.dragging {
    position: absolute;
    width: 35px;
  }
  .icon-help {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #333;
    opacity: 0.95;
    box-shadow: 1px 1px 1px #000;
    color: #fff !important;
    padding: 1em !important;
    display: none;
    * {
      color: #fff !important;
    }
    em {
      font-size: 1.3em;
      font-weight: bold;
    }
    @media screen and (max-width: 500px) {
      font-size: 90%;
    }
  }
  span.required {
    color: $traildock_red;
    font-size: 120%;
  }
  .powered-by {
    font-weight: lighter;
    padding: 5px 8px 10px 8px;
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(240, 240, 240, 0.6);
    border-top: 1px solid darken(#fff, 30);
    border-right: 1px solid darken(#fff, 30);
    img {
      width: 100%;
      height: auto;
    }
    span {
      color: #000;
    }
    @media screen and (max-width: 500px) {
      width: 100px;
    }
  }

  .leaflet-control-attribution {
    padding: 5px;
  }

  &.mobile {
    input[type=text], input[type=password], textarea {
      font-size: 16px;
    }
    .leaflet-control-zoom {
      a {
        font-size: 25px;
        line-height: 35px;
      }
    }
    .leaflet-control-attribution {
      padding: 0 5px;
    }
    .leaflet-control-attribution, .leaflet-control-attribution * {
      font-size: 80%;
    }
    .attribution-link.improve, .leaflet-control-attribution .last-divider {
      display: none;
    }
  }
  #mobile-picture {
    input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 0.9;
  }
  from {
    opacity: 0;
  }
}
