<div class="popup-content addedit-{{ type }}">
  <div class="header">
    <span><img src="{{ icon }}" /></span>
    <span>{{ heading }}</span>
  </div>
  <div class="error"></div>
  {{ fields }}
  <button data-type="{{ dataType }}">Save</button>
</div>