<div class="popup-view">
  <h3><img class="view-icon" src="{{ icon }}" /><span>{{ title }}</span></h3>
  <p>{{ body }}</p>
  <div>{{ files }}</div>
  <div class="timestamp">{{ timestamp }}<br/>by {{ username }}</div>
  <div class="external-links">{{ externalLinks }}</div>
</div>
<div class="edit-menu">
  {{ editMenu }}
</div>
